.invi_glass {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  z-index: 20;
}

.edit_card {
  width: clamp(21rem, 55vw, 50rem);
  background-color: white;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: relative;
}

.centerLoading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.editCard_header {
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.editCard_header .cancel {
  cursor: pointer;
  font-size: clamp(1rem, 2vw, 1.5rem);
  padding: 1rem;
  border-radius: 100%;
}

.editCard_header .cancel:hover {
  background-color: lightgray;
}

.editCard_header .header_title {
  cursor: pointer;
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight: 500;
}

.savebtn {
  background-color: #39115b;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.savebtn:active {
  transform: scale(0.98);
}

.editInput1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0 1rem;
  margin: 1rem 0;
}

.flex_2 {
  display: flex;
  flex-direction: column;
  width: calc(100% / 2 - 1rem);
}

.flex_1 {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3 - 1rem);
}

.inputs {
  padding: 0.5rem;
  border: 1px solid gray;
  border-radius: 0.3rem;
  outline: none;
}

.flex_1 label,
.flex_2 label {
  color: gray;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
}

.pdfFile_center {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.pdfFile_cont {
  width: 100%;
}

embed {
  width: 100%;
  overflow-y: hidden;
}

.editPdf_file {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
  width: 100%;
  justify-content: space-between;
}

.editPdf_file span,
.editPdf_file label {
  font-size: clamp(1.1rem, 2.5vw, 1.3rem);
  padding: 0.3rem;
}

.editPdf_file span:hover,
.editPdf_file label:hover {
  background-color: rgba(57, 17, 91, 0.5);
  color: white;
  border-radius: 0.2rem;
  cursor: pointer;
}

.privateNote_cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.privateNote {
  border: 1px solid black;
  outline: none;
  border-radius: 0.3rem;
}

.file {
  border: 1px solid black;
}

@media only screen and (max-width: 50rem) {
  .editInput1 {
    width: 100%;
    flex-direction: column;
  }
  .flex_1,
  .flex_2 {
    width: 100%;
  }
}
