.profile-container {
    height: 100vh;
    position: relative;

}

.profile-bg {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.top_bg {
    background-image: linear-gradient(45deg, #85223170,
            #6B1FACE5);
    width: 100%;
    height: 35%;
}

.bottom_bg {
    background: white;
    width: 100%;
    height: 65%;
}

.profile_contents {
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}

.profile_header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
}

.goBack_btn-profile {
    display: flex;
    gap: .3rem;
    align-items: center;
    color: white;
}

.camera-icon {
    font-size: 1.3rem;
}

.profile_title {
    font-size: clamp(1rem, 2vw, 1.5rem);
    color: white;
}

.profile_edit {
    display: flex;
    align-items: center;
    gap: .3rem;
    color: white;
    cursor: pointer;
}

.profile_card {
    background-color: white;
    z-index: 1;
    padding: 1rem;
    border-radius: .5rem;
    width: clamp(25rem, 45vw, 40rem);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
    margin-top: 6rem;
}

.section {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.profileInfo_container {
    width: calc(100% / 2 - 1rem);
    margin: .5rem 0;
}

.profile-container .label {
    font-size: clamp(1rem, 2vw, 1.2rem);
}

.profile-container span {
    display: flex;
    gap: 1rem;
}

.profile-container span small {
    color: gray;
    font-size: clamp(.8rem, 2vw, .95rem);
}

.profile-container span small+small {
    font-size: clamp(.8rem, 2vw, .95rem);
    color: black;
}

.profile_card_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.profile_img {
    display: flex;
    position: relative;
    height: clamp(3.5rem, 8vw, 6rem);
    width: clamp(3.5rem, 8vw, 6rem);
    object-fit: cover;
    object-position: top;
    cursor: pointer;
    background-color: whitesmoke;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.dpCont {
    height: clamp(3.5rem, 8vw, 6rem);
    width: clamp(3.5rem, 8vw, 6rem);
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.dp {
    width: 99%;
    height: auto;
}

.update_img {
    color: black;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: .2rem;
}

.update_img:active {
    transform: scale(.98);
}

.loading {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputFile {
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    background-color: rgb(247, 215, 249);
    height: max-content;
    width: max-content;
    cursor: pointer;
    border-radius: 12px;
    padding: .3rem;

}

.inputFile input[type="file"] {
    display: none;
}

.upDate_btn {
    background-color: var(--btn-primary-color);
    color: white;
    padding: .3rem;
    border-radius: .2rem;
    cursor: pointer;
}

.upDate_btn:active {
    transform: scale(.95);
}

.ppOverlay {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}


.view_profile_card {
    width: clamp(25rem, 45vw, 40rem);
    height: auto;
    background-color: white;
    border-radius: .5rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
}

.btn_cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid gray;
    padding: 1rem;
}

.showAlert {
    height: 100vh;
    width: 100%;
    display: flex;
    padding: 10rem;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}