.about_header {
    position: relative;
    margin-top: clamp(5rem, 8vw, 7.4rem);
}

.headerBg_cont {
    width: 100%;
}

.headerBg_img {
    width: 100%;
    max-height: 40rem;
}

.header_h_cont {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_header_h {
    color: white;
    font-size: clamp(1.5rem, 5vw, 3.5rem);
    font-weight: 700;
}

.aboutWelcome_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: clamp(1rem, 3vw, 2rem) 0;
}

.aboutWelcome_h {
    display: flex;
    gap: .5rem;
    font-size: clamp(2rem, 3vw, 3rem);
    font-weight: 700;
}

.aboutWelcome_h span {
    white-space: nowrap;
}

.aboutCerTracker {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(#85223170, #6B1FACE5);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.aboutWelcome_b {
    text-align: center;
    font-size: clamp(1rem, 3vw, 1.8rem);
    width: 80%;
}

.getStartedBtn {
    background-color: #591A8F;
    color: white;
    padding: .5rem 1rem;
    font-size: clamp(1rem, 3vw, 1.5rem);
    cursor: pointer;
    border-radius: .3rem;
}

.getStartedBtn:active {
    transform: scale(.98);
}

.aboutBelief_section {
    display: flex;
    align-items: center;
    padding: clamp(1rem, 3vw, 2rem);
    justify-content: space-between;
}

.belief_imgCont {
    width: 30%;
}

.belief_img {
    width: 100%;
    height: auto;
}

.belief_info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 65%;
}

.belief_h,
.meetTeam_h {
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    font-weight: 700;
    color: #591A8F;
}

.belief_b,
.meetTeam_b {
    font-size: clamp(1rem, 3vw, 1.5rem);
}

.meetTeam_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: clamp(1rem, 3vw, 3rem);
    background-image: url('/images/landing_bg2.png');
    background-size: cover;
    width: 100%;
    background-color: #591A8F66;
}


.ourStory_Section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: clamp(2rem, 5vw, 4rem);
}

.story_SH {
    font-size: clamp(1.2rem, 3vw, 1.5rem);
    width: 60%;
    text-align: center;
}

.story_SH span {
    color: #591A8F;
}


.mainStory {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1.5rem;
    margin: 1rem 0;
}

.story_txt {
    width: 60%;
    font-size: clamp(1rem, 3vw, 1.2rem);

}

.storyVid_cont {
    width: 30%;
}

.storyVid {
    width: 100%;
    height: auto;
}

.closingRemark {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: clamp(1rem, 3vw, 3rem);
}

.closingRemark_h {
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    width: 60%;
    text-align: center;
    color: #591A8F;
}

.freeTrial {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.enterEmail {
    border-radius: .3rem;
    display: flex;
    align-items: center;
    max-width: 35rem;
    /* width: clamp(21rem, 35vw, 35rem); */
    border: 1px solid #591A8F;
}

.enterEmail input {
    padding: clamp(.2rem, 1vw, .5rem);
    outline: none;
    flex-grow: 1;
}

.enterEmail button {
    background-color: #591A8F;
    color: white;
    padding: clamp(.2rem, 1vw, .5rem);
    height: 100%;
    text-wrap: none;
    white-space: nowrap;
    height: 100%;
}

.ratingSection {
    display: flex;
    gap: .5rem;
    margin-top: .5rem;
}

.rating {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}



@media only screen and (max-width: 50rem) {
    .aboutBelief_section {
        flex-direction: column;
        gap: 1.5rem;
    }

    .belief_imgCont {
        width: 45%;
    }

    .belief_info {
        width: 85%;
        text-align: center;
        gap: .1rem;
    }

    .meetTeam_section {
        gap: .1rem;
    }

    .meetTeam_b {
        text-align: center;
    }

    .story_SH {
        width: 93%;
    }

    .mainStory {
        flex-direction: column;
    }

    .story_txt {
        width: 93%;
        text-align: center;
    }

    .storyVid_cont {
        width: 90%;
    }

    .closingRemark_h {
        width: 93%;
    }

    .freeTrial {
        padding: 0 1rem;
    }
}

@media only screen and (max-width: 32rem) {
    .belief_imgCont {
        width: 55%;
    }

    .belief_info {
        width: 90%;
        text-align: center;
    }

    .aboutWelcome_h {
        flex-direction: column;
        align-items: center;
    }
}