.fgtContainer {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backgroundfgt {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.topfgt {
    background-image: linear-gradient(45deg, #85223170,
            #6B1FACE5);
    width: 100%;
    height: 50%;
}

.bottomfgt {
    background: white;
    width: 100%;
    height: 50%;
}

.cardContainer {
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fgtCard {
    width: clamp(20rem, 45vw, 50rem);
    background-color: white;
    box-shadow: 2px 2px 4px gray;
    z-index: 1;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.fgtCard h1 {
    font-size: clamp(1.3rem, 3vw, 2rem);
    margin: .5rem 0;
}

.fgtMsg {
    width: 90%;
    text-align: center;
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    margin: 1rem 0;
}

.fgtEmailCont {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-left: .5rem;
}

.fgt_input {
    outline: none;
    width: 96%;
    border-bottom: 1px solid #591A8F;
    padding: .3rem 0;
}

.fgtSubmit {
    background: #39115B;
    color: white;
    width: 85%;
    border-radius: .4rem;
    padding: .5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    cursor: pointer;
}

.fgtSubmit:active {
    transform: scale(.98);
}

.fgtCancel {
    color: #A62B3D;
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    cursor: pointer;
    margin: 1rem;
    font-weight: 600;
}

.question {
    color: grey;
}