.navbar {
    background-image: url('/images/landing_bg2.png');
    /* background-position: center; */
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 clamp(.5rem, 2vw, 2rem);
}

.h_logo {
    width: clamp(5rem, 8vw, 9rem);
    height: auto;
}

.navbar_right {
    display: flex;
    align-items: center;
    gap: clamp(.9rem, 2vw, 1.5rem);
}

#about_btn {
    color: black;
    font-size: clamp(.9rem, 2vw, 1.3rem);
    font-weight: 500;
}

#signup_btn {
    font-size: clamp(.9rem, 2vw, 1.3rem);
    color: #591A8F;
    font-weight: 500;
}

#signin_btn {
    border: 1px solid #591A8F;
    padding: .5rem;
    border-radius: .3rem;
    color: #591A8F;
}

#download_btn {
    background: linear-gradient(128deg, rgba(133, 34, 49, 0.44) 23.27%, rgba(107, 31, 172, 0.90) 93.4%);
    color: white;
    padding: .6rem;
    border-radius: 8px;
}

.header {
    background-image: url('/images/landing_bg1.png');
    display: flex;
    align-items: center;
    padding: 3rem clamp(1rem, 2vw, 2rem) 3rem clamp(1rem, 4vw, 3rem);
}

.infoTxt_section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.infoTxt_h {
    color: #591A8F;
    font-size: clamp(1.3rem, 3vw, 2.5rem);
    font-weight: 500;
}

.infoTxt_b {
    color: #EE5F74;
    font-size: clamp(1.2rem, 3vw, 1.7rem);
    font-weight: 400;
}

.infoTxt_btn {
    background-color: #591A8F;
    color: white;
    padding: .5rem 1rem;
    border-radius: .3rem;
    width: fit-content;
    cursor: pointer;
}

.header_img {
    width: clamp(15rem, 50vw, 44rem);
    height: auto;
}

.trustees {
    padding-top: 1rem;
    background-color: whitesmoke;
}

.trustees_cont {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.trustees_h {
    text-align: center;
    font-weight: 500;
    font-size: clamp(1.3rem, 3vw, 2rem);
}

.trustee {
    width: clamp(3rem, 8vw, 8rem);
    height: auto;
}

.group_img-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('/images/landing_bg2.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 2rem;
}

.group_img-h {
    color: #591A8F;
    font-weight: 500;
    font-size: clamp(1.3rem, 3vw, 2.1rem);
    width: 50%;
    text-align: center;
}

.group_img-b {
    text-align: center;
    width: 60%;
    font-size: clamp(1rem, 2vw, 1.2rem);
    margin-top: 1rem;
}

.group_img_img {
    width: clamp(25rem, 60vw, 60rem);
    height: calc(100% - 5rem);
}

.group_img {
    width: 100%;
    height: auto;
}

.features_info {
    display: flex;
    flex-direction: column;
    background-image: url('/images/landing_bg3.png');
    background-size: cover;
    background-repeat: repeat;
    padding: 2rem;
}



.features_cont {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
}